.login-form{
  max-width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid grey;
  padding-bottom: 20px;
  box-shadow: 1px 1px gray
}

.login-input{
  margin-top: 30px;
  margin-left: 
}