#map{
  height: 400px;
  min-width: 100%;
  margin: 0 auto;
}

/* .map-container{
  margin: 0 auto;
  max-width: 800px;
  height: 550px;
  text-align: center;
} */

@media screen and (min-width: 700px){
  #map{
    height: 100%;
  }
}
